<%- include("partials/header.ejs")%>
<title>About BEST</title>
<div class="container">
<h1 style="text-align: center; text-decoration: underline;">About BEST</h1>
<br>
<p>
    BEST is a non- profitable organisation. 'BEST' indicates Basic education, Energy savings,
Safety and To give.
</p>
<p>
    It was established in the year 2016 to promote healthy lifestyle among all through different
ways. It's main center is at Barrackpore, West Bengal, India.
</p>
<ul>
    <li>
        It conducts one day workshop and activity oriented classes on basic education, proper
utilization of energy, safety about food, health, household and others in different formal
educational institutions like schools, colleges etc.
    </li>
    <li>
        BEST publishes a yearly magazine named 'ARJAMA' during the festive month of
Autumn. This magazine spreads the fragrance of proper life style through various
positive messages of the valuable articles silently.
    </li>
    <li>
        Beside this, BEST provides Food Bank & Cloth Bank also. In every month the members
go to take classes in different slum areas, rural areas and interior regions to nurture their
healthy habitsfor a overall developed lifestyle. After the class dry food or new/ old clothes
(donated) are distributed among the pupils. The students are divided into two groups
according to their age groups- 5 to 12 years are considered as junior section and 12 to
18 years are classified as senior section. Classes are taken separately according to the
above- mentioned section. After the class there is a time slotting for guardians to discuss
the class topic and the members interact with the guardians so as they can follow the
guidelines given in the class.
    </li>
    <li>
        BEST has inaugurated a library for spreading the aroma of knowledge among all.
    </li>
</ul>
</div>
<%- include("partials/footer.ejs")%>