<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/def.css">
<title>Contact BEST</title>
<div class="container">
<h1>Contact Us</h1>
<br>
<h6>Address :</h6>
<p> "Adyashis House", 82/41, Old Calcutta Road,
    South Green Park, Barrackpore Kolkata — 123.</p>
<h6>Contact :</h6>
    <p> 9331877880 / 9330942791</p>
    <h6>E-mail :</h6>
    <p> m811006@gmail.com</p>
</div>
<%- include("partials/footer.ejs")%>