<%- include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/def.css">
<title>Contact BEST</title>
<div class="container x">
<h1>Contact Us</h1>
<br>
<hr>
<div class=" container d">
<div class="card border-info mb-3" style="max-width: 30rem;">
    <div class="card-header">Contact Information</div>
    <div class="card-body text-info">
      <h5 class="card-title">BEST</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Address :</b> "Adyashis House", 82/41, Old Calcutta Road,
            South Green Park, Barrackpore Kolkata — 123.</li>
        <li class="list-group-item"><b>E-mail :</b> majumdermoli2@gmail.com</li>
      </ul>
  </div>
</div>
</div>
<%- include("partials/footer.ejs")%>