<%-include("partials/header.ejs")%>
<title>BEST</title>
        <link rel="stylesheet" href="../stylesheets/home.css">

    <div class="header">
    <img src="pics/coverpic.jpg" width="450px">
    <h1 class="display-4">BEST Organization</h1>
    <p class="lead">Basic Education| Energy Savings|Safety|To Give | To make a Healthier nation</p>  
    </div>
    <div class="container options">
        <h2 class="subheading">Sections</h2>
        <br>
        <div class="row m">
            <div class="col-md-4 sm-6">
                <a href="/about">
                <h4><i class="fas fa-info"></i> About</h4></a>
                <p>The principles of BEST organization.</p>                
            </div>
            <div class="col-md-4 sm-6">
                <a href="/publications">
                <h4><i class="fas fa-book"></i> Magazine publications</h4></a>
                <p>Access our magazine publications.</p>
            </div>
            <div class="col-md-4 sm-6">
                <a href="/blogs">
                <h4><i class="fas fa-heartbeat"></i> Healthy Lifestyle</h4></a>
                <p>We provide daily updates on healthy lifestyle.</p>
            </div>
        </div>
        <br>
        <div class="row last m">
            <div class="col-md-4 sm-6">
                <a href="#">
                <h4><i class="fas fa-camera"></i> Photo Gallery</h4></a>
                <p>Check out our photo gallery.</p>
            </div>
            <div class="col-md-4 sm-6">
                <a href="/contact">
                <h4><i class="fas fa-address-card"></i> Contact Us</h4></a>
                <p>Contact information of BEST organization.</p>
            </div>
        </div>
    </div>
    <%-include("partials/footer.ejs")%>