<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/signin.css">
    <title>New Photo</title>
    
<div class="container">
<h1>Upload Photo</h1>
<br>
<form action="/uploadpic" method="POST" enctype="multipart/form-data">     
    <div class="form-group">
        <label for="photo">Photo</label>
        <input type="file" class="form-control-file" id="photo" name="photo">
      </div>
    <div class="form-group">
        <label for="caption">Photo Caption</label>
        <input type="text" class="form-control" name="caption" id="caption" placeholder="Example caption">
      </div>  
    <button type="submit" class="btn btn-primary" required>Submit</button>
  </form>
</div>
<%-include("partials/footer.ejs")%>