<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="../stylesheets/signin.css">
    <title>New Publication</title>
    
<div class="container">
<h1>Upload Publication</h1>
<br>
<form action="/uploadpub" method="POST"> 
  <div class="form-group">
    <label for="pub[pic]">Publication Cover Page Link</label>
    <input type="url" class="form-control" id="pub[pic]" name="pub[pic]">
  </div>    
    <div class="form-group">
        <label for="pub[path]">Publication Link</label>
        <input type="url" class="form-control" id="pub[path]" name="pub[path]">
      </div>
    <div class="form-group">
        <label for="pub[title]">Publication Title</label>
        <input type="text" class="form-control" name="pub[title]" id="pub[title]" placeholder="Example title">
      </div>  
    <button type="submit" class="btn btn-primary" required>Submit</button>
  </form>
</div>
<%-include("partials/footer.ejs")%>