.show{
    opacity:1;
}

.disable{
    display:none;
}

.header{
    text-align:center;
}

.k{
    text-align: center;
}

.info{
    text-decoration: underline;
    font-family: 'Noto Sans JP', sans-serif;
}

.m{
    justify-content: center;
}

.pagination{
    display:flex;
    justify-content: center;
}