h1{
    text-align: center; 
    text-decoration: underline;
    font-family: 'Noto Sans JP', sans-serif;
}

html{
    height: 100%;
}

.x{
    height: 100%;
}

 .d{
     height:60%;
     display:flex;
     flex-direction: column;
     align-items: center;
     justify-content:center;
 }

.show{
    opacity:1;
}

.disable{
    display:none;
}

.pagination{
    display:flex;
    justify-content: center;
}

.h{
    justify-content: center;
}
