body{
    text-align:center;
}

.header{
    background-color: #51f57d;
    padding-bottom: 20px;
}

.options{
    margin-top:3rem;
}


.m{
    text-align: left;
}

.subheading{
    text-decoration: underline;
    font-family: 'Noto Sans JP', sans-serif;
}

a{
    color: green;
}