.k{
    text-align: center;
    justify-content:center;
}

.u{
    text-align: center;
}

.my{
    max-width: 630px;
    background-color: #e3d6c8;
}

.t{
    text-decoration: underline;
}

.show{
    opacity:1;
}

.disable{
    display:none;
}

.pagination{
    display:flex;
    justify-content: center;
}

.m{
    justify-content: center;
}
